.venv/
env/
venv/
__pycache__/
*.py[cod]
*.sqlite3
.vscode/
.idea/
*.log
/.DS_Store

# Data and models
dataset/
models/
Organized_Data/
Organized_Data/**
*.csv
*.zip
*.tar.gz

# Jupyter
.ipynb_checkpoints/
